* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100rem;
  height: 70rem;
  background: #eee;
  border-radius: 3rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.banner {
  position: absolute;
  z-index: 999;
  top: 25%;
  left: -30rem;
  text-align: center;
  color: #fff;
  width: 30rem;
  transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.banner h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.banner p {
  font-size: 2rem;
}

.green-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3ab19b, #4cbf91);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
  transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.green-bg button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
  height: 5rem;
  background: transparent;
  border: 0.1rem solid #fff;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  cursor: pointer;
}

.green-bg button:hover {
  background: #4eb9a5;
}

.signup-form {
  width: 60rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 0;
  transition: left 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.signup-form h1 {
  font-size: 4rem;
  color: #3aaf9f;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media i {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  color: #555;
  border: 0.1rem solid #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form p {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 2rem;
}

.signup-form input {
  width: 28rem;
  height: 5rem;
  padding: 1rem 1rem 1rem 3rem;
  background: #ddd;
  border: none;
  border-radius: 0.5rem;
}

.signup-form:focus {
  outline: 1px solid red;
}

.input-group {
  position: relative;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #555;
}

.signup-form button {
  width: 16rem;
  height: 5rem;
  background: #3aaf9f;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 3rem;
  cursor: pointer;
}

.signup-form button:hover {
  background: #349e8f;
}

.container.change .green-bg {
  width: 40%;
}

.container.change .banner {
  left: 5rem;
}

.container.change .signup-form {
  left: 40rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
